In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
82,tt1674771,30000000,49263404,Entourage,Jeremy Piven|Adrian Grenier|Jerry Ferrara|Kevi...,Doug Ellin,Dream Large. Live Larger.,"Movie star Vincent Chase, together with his bo...",104,Comedy,Warner Bros.|Closest to the Hole Productions,6/3/2015,6.2,2015
870,tt0264464,52000000,352114312,Catch Me If You Can,Leonardo DiCaprio|Tom Hanks|Christopher Walken...,Steven Spielberg,The true story of a real fake.,Frank W. Abagnale Jr. is a cunning con man â€“...,141,Drama|Crime,DreamWorks SKG|Kemp Company|Splendid Pictures,12/25/2002,7.6,2002
1672,tt0440963,70000000,442824138,The Bourne Ultimatum,Matt Damon|Julia Stiles|David Strathairn|Scott...,Paul Greengrass,Remember everything. Forgive nothing.,Bourne is brought out of hiding once again by ...,115,Action|Drama|Mystery|Thriller,Universal Pictures|The Kennedy/Marshall Compan...,8/3/2007,7.2,2007
121,tt2911666,20000000,78739897,John Wick,Keanu Reeves|Michael Nyqvist|Alfie Allen|Wille...,Chad Stahelski|David Leitch,Don't set him off.,"After the sudden death of his beloved wife, Jo...",101,Action|Thriller,Thunder Road Pictures|Warner Bros.|87Eleven|De...,10/22/2014,7.0,2014
1621,tt0387575,12000000,24829644,Seed of Chucky,Brad Dourif|Jennifer Tilly|Billy Boyd|Redman|H...,Don Mancini,Fear The Second Coming,The killer doll is back! The all-new film is t...,87,Comedy|Drama|Horror,Rogue Pictures,11/11/2004,4.9,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
r = data[ data.budget == data.budget.max() ]
answers['1'] = r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'
answers['1']

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [373]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [8]:
r = data[ data.runtime == data.runtime.max() ]
answers['2'] = r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'
answers['2']

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
r = data[ data.runtime == data.runtime.min() ]
answers['3'] = r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'
answers['3']

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [10]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [11]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
r = data[ data.profit == data.profit.max() ]
r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [13]:
r = data[ data.profit == data.profit.min() ]
r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
len( data[ data.profit > 0 ] )

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
d = data[ data.release_year == 2008 ]
r = d[ d.revenue == d.revenue.max() ]
r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
d = data[ (data.release_year >= 2012) & (data.release_year <= 2014) ]
r = d[ d.profit == d.profit.min() ]
r.original_title.iloc[0] + ' (' + r.imdb_id.iloc[0] + ')'
genres = {}

def genres_as_list( g ):
    if type(g) is str:
        return g.split('|')
    return []

for index, row in data.head(5).iterrows():
    for g in genres_as_list(row.genres):
        genres[ g ] = genres.get( g, [] ) + [ row.imdb_id ]

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_dict = {}

def genres_as_list( g ):
    if type(g) is str:
        return g.split('|')
    return []

for index, row in data.iterrows():
    for g in genres_as_list(row.genres):
        genres_dict[ g ] = genres_dict.get( g, [] ) + [ row.imdb_id ]

gen_imdb_id  = []
gen_name = []
for g,imdb_ids in genres_dict.items():
    for imdb_id in imdb_ids:
        gen_name.append( g )
        gen_imdb_id.append( imdb_id )

genres = pd.DataFrame( {"genre": gen_name, "imdb_id": gen_imdb_id} )
genres

            genre    imdb_id
0          Action  tt0369610
1          Action  tt1392190
2          Action  tt2488496
3          Action  tt2820852
4          Action  tt1340138
...           ...        ...
5102  Documentary  tt0361596
5103  Documentary  tt0386032
5104  Documentary  tt0393597
5105      Foreign  tt1396208
5106      Foreign  tt0192255

[5107 rows x 2 columns]

In [18]:
genres.describe()

        genre    imdb_id
count    5107       5107
unique     19       1889
top     Drama  tt1192628
freq      782          5

In [19]:
genres.genre.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [7]:
j = genres.merge( data, on='imdb_id', how='left' )
j = j.groupby(['genre']).sum()
j.sort_values(['profit'],ascending=False)
#j.groupby(['genre'])['profit'].sum().sort_values(ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
genre,,,,,,
Adventure,40618250004,126688716985,46987,2543.8,833334,86070466981
Action,45510800535,125698700600,65511,3517.7,1168584,80187900065
Comedy,32204000531,91978753252,69543,4055.1,1371157,59774752721
Fantasy,21606100003,71322748916,24572,1346.2,445759,49716648913
Drama,31322090000,80579314159,90994,5017.9,1570191,49257224159
Thriller,30397676652,77138223230,65704,3627.1,1196538,46740546578
Family,21361500000,68075755385,25639,1581.6,522012,46714255385
Science Fiction,21354650535,62126541189,27665,1506.0,498059,40771890654
Animation,13390000000,44070622718,12774,875.1,279164,30680622718
Romance,11626000000,35618150965,33954,1906.0,618189,23992150965
Crime,14378380000,34639397900,35278,1953.0,632372,20261017900
Mystery,7823010000,19575981178,18857,1037.5,337211,11752971178
Horror,5187700000,15771897147,17632,987.8,353320,10584197147
Music,2258600000,6979098315,6892,403.5,128534,4720498315
War,3632900000,8037927096,7395,378.6,116441,4405027096
History,3648100000,6694243524,8207,405.9,124469,3046143524
Western,1634000000,2656632954,2365,121.4,38142,1022632954
Documentary,99000000,491078032,840,52.9,16059,392078032
Foreign,32000000,18555988,195,11.3,4010,-13444012

In [8]:
#j.index in ['Drama','Comedy','Action', 'Thriller', 'Adventure'] ]
j.loc[['Drama','Comedy','Action', 'Thriller', 'Adventure']].sort_values(['profit'],ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
genre,,,,,,
Adventure,40618250004,126688716985,46987,2543.8,833334,86070466981
Action,45510800535,125698700600,65511,3517.7,1168584,80187900065
Comedy,32204000531,91978753252,69543,4055.1,1371157,59774752721
Drama,31322090000,80579314159,90994,5017.9,1570191,49257224159
Thriller,30397676652,77138223230,65704,3627.1,1196538,46740546578

In [9]:
j = genres.merge( data, on='imdb_id', how='left' )
j[ j.profit > 0 ].genre.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genre, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [10]:
directors_dict = {}

def directors_as_list( g ):
    if type(g) is str:
        return g.split('|')
    return []

for index, row in data.iterrows():
    for g in directors_as_list(row.director):
        directors_dict[ g ] = directors_dict.get( g, [] ) + [ row.imdb_id ]

dir_imdb_id  = []
dir_name = []
for g,imdb_ids in directors_dict.items():
    for imdb_id in imdb_ids:
        dir_name.append( g )
        dir_imdb_id.append( imdb_id )

directors = pd.DataFrame( {"director1": dir_name, "imdb_id": dir_imdb_id} )
j = directors.merge( data, on='imdb_id', how='outer' )
j.groupby(['director1'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [11]:
j = genres.merge( data, on='imdb_id', how='outer' )
j = j.merge( directors, on='imdb_id', how='outer' )
j = j[ j.genre == 'Action' ]
j.groupby( ['director1'] )['genre'].count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [12]:
actor_dict = {}

def cast_as_list( g ):
    if type(g) is str:
        return g.split('|')
    return []

for index, row in data.iterrows():
    for g in cast_as_list(row.cast):
        actor_dict[ g ] = actor_dict.get( g, [] ) + [ row.imdb_id ]

act_imdb_id  = []
act_name = []
for g,imdb_ids in actor_dict.items():
    for imdb_id in imdb_ids:
        act_name.append( g )
        act_imdb_id.append( imdb_id )

actors = pd.DataFrame( {"actor": act_name, "imdb_id": act_imdb_id} )
actors

               actor    imdb_id
0        Chris Pratt  tt0369610
1        Chris Pratt  tt2015381
2        Chris Pratt  tt0901476
3        Chris Pratt  tt0770703
4        Chris Pratt  tt1210166
...              ...        ...
9433      Susan Ward  tt0163676
9434    Lori Heuring  tt0163676
9435  Matthew Settle  tt0163676
9436   Nathan Bexton  tt0163676
9437     Tess Harper  tt0163676

[9438 rows x 2 columns]

In [393]:
j = actors.merge( data, on='imdb_id', how='outer' )
j = j[ j.release_year == 2012 ]
j.groupby(['actor'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [13]:
j = actors.merge( data, on='imdb_id', how='outer' )
# в фильмах, где бюджет выше среднего по данной выборке. 
j = j[ j.budget > j.budget.mean() ]
j.groupby('actor').count().sort_values(['imdb_id'],ascending=False).index

Index(['Matt Damon', 'Adam Sandler', 'Angelina Jolie', 'Tom Cruise',
       'Eddie Murphy', 'Samuel L. Jackson', 'Russell Crowe', 'Jamie Foxx',
       'Mark Wahlberg', 'Ben Stiller',
       ...
       'Jena Malone', 'Jenna Elfman', 'Jenna Stern', 'Jennifer Beals',
       'Jennifer Cody', 'Jennifer Hudson', 'Jennifer Jason Leigh',
       'Jennifer Saunders', 'Jennifer Tilly', 'Ã“lafur Darri Ã“lafsson'],
      dtype='object', name='actor', length=1505)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [14]:
j = actors.merge( genres, on='imdb_id', how='outer' )
j = j[ j.actor=='Nicolas Cage' ].drop(['imdb_id'], axis=1)
j = j.groupby(['genre']).count().sort_values(['actor'],ascending=False)
j

                 actor
genre
Action              17
Thriller            15
Drama               12
Crime               10
Fantasy              8
Adventure            7
Comedy               6
Science Fiction      4
Animation            3
Family               3
Mystery              3
History              2
Horror               1
Romance              1
War                  1

In [396]:
j.index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [15]:
prod_dict = {}

def prod_as_list( g ):
    if type(g) is str:
        return g.split('|')
    return []

for index, row in data.iterrows():
    for g in prod_as_list(row.production_companies):
        prod_dict[ g ] = prod_dict.get( g, [] ) + [ row.imdb_id ]

prod_imdb_id  = []
prod_name = []
for g,imdb_ids in prod_dict.items():
    for imdb_id in imdb_ids:
        prod_name.append( g )
        prod_imdb_id.append( imdb_id )

prods = pd.DataFrame( {"prod": prod_name, "imdb_id": prod_imdb_id} )

prods['prod'].value_counts()

Universal Pictures                                    173
Warner Bros.                                          168
Paramount Pictures                                    122
Columbia Pictures                                     117
Twentieth Century Fox Film Corporation                109
                                                     ...
Studio Babelsberg StudioBabelsberg Motion Pictures      1
ApolloProScreen Filmproduktion                          1
Apollo Media                                            1
Yer Dead Productions                                    1
Fellowship Adventure Group                              1
Name: prod, Length: 1771, dtype: int64

In [398]:
j = prods.merge( data, on='imdb_id', how='left' ).query( "prod == 'Paramount Pictures' " )
j[ j.profit == j.profit.min() ]

,prod,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month,date
583,Paramount Pictures,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,2002,7,19

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [16]:
d = data.groupby(['release_year']).sum().sort_values(['release_year'],ascending=False)
d

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378
2014          7008050000  23405862953    13444         774.5  16397812953
2013          7970620000  23213799791    15039         846.9  15243179791
2012          7002000000  23079001687    12145         682.1  16077001687
2011          7946550531  22676791872    15355         868.5  14730241341
2010          7540000000  21071204961    13592         762.1  13531204961
2009          6838046652  20261791024    14187         800.2  13423744372
2008          6588900000  18252781990    12979         731.1  11663881990
2007          6596495000  18162406801    14305         809.3  11565911801
2006          6083965000  14775042320    13952         775.4   8691077320
2005          6327500000  15309425558    13387         733.5   8981925558
2004          6029250000  15663430720    12014         671.3   9634180720
2003          5117300000  14346123312    10623         574.4   9228823312
2002          5134000000  14136361487    11528         653.1   9002361487
2001          5067150000  13017764865    11284         619.8   7950614865
2000          4562700000  10664099805     9956         542.5   6101399805

In [358]:
d.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [17]:
prods = pd.DataFrame( {"prd": prod_name, "imdb_id": prod_imdb_id} )
j = prods.merge( data, on='imdb_id', how='left' )
j.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6078 entries, 0 to 6077
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   prd                   6078 non-null   object
 1   imdb_id               6078 non-null   object
 2   budget                6078 non-null   int64
 3   revenue               6078 non-null   int64
 4   original_title        6078 non-null   object
 5   cast                  6078 non-null   object
 6   director              6078 non-null   object
 7   tagline               6078 non-null   object
 8   overview              6078 non-null   object
 9   runtime               6078 non-null   int64
 10  genres                6078 non-null   object
 11  production_companies  6078 non-null   object
 12  release_date          6078 non-null   object
 13  vote_average          6078 non-null   float64
 14  release_year          6078 non-null   int64
 15  profit                6078 non-null   int64
dtypes: float64(1), int64(5), object(10)
memory usage: 807.2+ KB

In [18]:
j[ j['prd'] == 'Warner Bros.' ].production_companies.value_counts()

Warner Bros.                                                                                                                       5
Bel Air Entertainment|Warner Bros.                                                                                                 3
DreamWorks SKG|Amblin Entertainment|Malpaso Productions|Warner Bros.                                                               2
Warner Bros.|Heyday Films                                                                                                          2
Silver Pictures|Warner Bros.                                                                                                       2
                                                                                                                                  ..
Village Roadshow Pictures|Section Eight|Spring Creek Productions|Warner Bros.                                                      1
Village Roadshow Pictures|NPV Entertainment|Warner Bros.|Tribeca Productions|Overbrook Entertainment                               1
Paramount Pictures|Legendary Pictures|Warner Bros.|Syncopy|Lynda Obst Productions                                                  1
Lonely Film Productions GmbH & Co. KG.|Warner Bros. Animation|Warner Bros.|Goldmann Pictures|Baltimore Spring Creek Productions    1
Warner Bros.|Closest to the Hole Productions                                                                                       1
Name: production_companies, Length: 159, dtype: int64

In [20]:
j[ j['prd'].str.contains('Warner Bros') ].prd.value_counts()

Warner Bros.                              168
Warner Bros. Pictures                      13
Warner Bros. Animation                      5
Warner Bros. Interactive Entertainment      1
Name: prd, dtype: int64

In [19]:
j[ j['prd'] == 'Warner Bros.' ].prd.value_counts()

Warner Bros.    168
Name: prd, dtype: int64

In [21]:
j = j[ j['prd'].str.contains('Warner Bros') ].groupby('release_year')['profit'].sum().sort_values(ascending=False)
j

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [22]:
j.loc[[2014,2008,2012,2010,2015]].sort_values(ascending=False)

release_year
2014    2292949646
2008    2134595031
2010    1974712985
2012    1258020056
2015     870368348
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
def date_str_to_values( s ):
    nums = list(map( lambda x:int(x), s.split('/') ))
    return { 'y':nums[2], 'm':nums[0], 'd':nums[1] }

# date_str_to_values('5/13/2015') # {'y': 2015, 'm': 13, 'd': 5}

data['year'] = data['release_date'].apply( lambda x: date_str_to_values(x)['y'] )
data['month'] = data['release_date'].apply( lambda x: date_str_to_values(x)['m'] )
data['date'] = data['release_date'].apply( lambda x: date_str_to_values(x)['d'] )
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month,date
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,2015,6,9
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,2015,5,13

In [366]:
data.groupby(['month']).count().sort_values(['imdb_id'],ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [367]:
data.groupby(['month']).count().loc[ [8,7,6] ].imdb_id.sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
j = directors.merge( data, on='imdb_id', how='left' )
j['winter'] = j['month'].apply( lambda x: x in [1,2,12])
j[ j['winter'] ].groupby('director1')['imdb_id'].count().sort_values(ascending=False)
#j.groupby(['director1','month']).count().sort_values(['director1','imdb_id'],ascending=False)

director1
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [37]:
j = prods.merge( data, on='imdb_id', how='left' )
j['original_title_len'] = j['original_title'].apply( lambda x: len(x) )
j[ j['original_title_len'] == j['original_title_len'].max() ]

,prd,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month,date,original_title_len
738,Twentieth Century Fox Film Corporation,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,2006,11,2,83
5782,Four By Two Productions,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,2006,11,2,83

In [45]:
j = data.copy()
j['original_title_len'] = j['original_title'].apply( lambda x: len(x) )
j[ j['original_title_len'] == j['original_title_len'].max() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month,date,original_title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,2006,11,2,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [368]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)'}

In [369]:
# и убедиться что ни чего не пропустил)
len(answers)

3